:host { display: block; }

.tab-bar { 
    background: var(--color-card); 
    border-bottom: 1px solid #0e305f; }

.tab { cursor: pointer; color: var(--primary-text); 
    position: relative; -webkit-user-select: none;
     user-select: none; }
.tab.active { background: var( --color-card); 
    color: #fff; }
.tab:hover { background: var(--accent-color); }
.tab.add-tab { font-weight:600; }
.tab.add-tab i { font-size: .9rem; }
.tab .btn-close { filter: invert(1); opacity: .6; font-size: .55rem; }
.tab .btn-close:hover { opacity: 1; }
.tab-content-wrapper { min-height: 300px; background: #fff; }
.hidden-tab { display: none !important; }
